@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

:root{
    --btn-bg:#0D6EFD;
    --banner-bg:rgba(13, 110, 253, 0.05);
    --gray-bg:rgba(16, 15, 15, 0.05);
}

.btn-primary {
    background-color: var(--btn-bg);
    color: white;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 1.125rem 1.5rem;
    border-color: transparent;
    border-radius: 0.75rem;
}
.btn-primary:hover{
    background-color: #fff;
    color:var(--btn-bg);
    border:1px solid var(--btn-bg);

}
.btn-secondary{
    background-color: var(--btn-bg);
    color: white;
    font-weight: 700;
    /* font-size: 1.25rem; */
    padding: 0.6rem 1rem;
    border-color: transparent;
    /* border-radius: 0.75rem; */
}
.btn-secondary:hover{
    background-color: #fff;
    color:var(--btn-bg);
    border:1px solid var(--btn-bg);

}